footer{
    display: inline-flex;
    bottom: 0px;
    position:absolute;
}

footer > ul{
    display: inline-flex;
}

footer > ul > li{
    display: inline-flex;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

footer > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: medium;
}

footer > ul > li > a:visited{
    color: black;
}